@import 'https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap';

$accent: #40b75b;
$black: #32313e;
$gray-light: #f8f8f8;
$gray-dark: #b0b0b0;
$default-size: 15px;
$default-font: 'Source Sans Pro', sans-serif;
